<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="horvatApps.ImageFind">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:logo="@mipmap/ic_launcher_adaptive"
        android:icon="@mipmap/ic_launcher_adaptive"
        android:roundIcon="@mipmap/ic_launcher_adaptive_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.InstructionsActivity" />
        <activity android:name=".ui.ShareIntentActivity">
            <intent-filter
                android:icon="@mipmap/ic_launcher_adaptive"
                android:label="@string/intent_label"
                android:priority="100">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AboutActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ScanActivity" />

        <service android:name=".logic.MLForegroundService" />
    </application>

</manifest>